@{
    ViewBag.Title = "Dashboard";
}
@model SimpleBank.Models.User


@if (Model.UserId == ViewBag.CurrentUserId && ViewBag.CurrentUserId != null)
{
    <h3>Hello, @Model.UserName!</h3>

    <ul>
        <li>@Html.ActionLink("Open an account", "CreateAccount", "Dashboard")</li>
    </ul>

    @if (ViewBag.accounts.Count > 0)
    {
        <h4>Your Accounts:</h4>
        <ul>
            @foreach (var a in ViewBag.accounts)
            {
            <li>
                <a href="@Url.Action("Details", "Account", new { accountId = @a.AccountId })">@a.Name</a> - $@a.Balance
                @if (ViewBag.accounts.Count > 1)
                {
                    <span>@Html.ActionLink("Transfer", "Transfer", "Dashboard", new { accountId = @a.AccountId })</span>
                }
                <span>@Html.ActionLink("Pay", "Pay", "Dashboard", new { accountId = @a.AccountId })</span>
                @if (a.isMain == true)
                {
                    <span style="color: gray">Zelle</span>
                }
            </li>
            }
        </ul>
    }   
}
else
{
    <h3>Sorry, you don't have permission to see this page.</h3>
}
