@{
    ViewBag.Title = "Dashboard";
}
@model SimpleBank.Models.User


@if (ViewBag.UserId == ViewBag.CurrentUserId && ViewBag.CurrentUserId != null)
{
    <h3>Hello, @ViewBag.UserName!</h3>

    <ul>
        <li>@Html.ActionLink("Open an account", "CreateAccount", "Dashboard")</li>
    </ul>

    @if (ViewBag.accounts.Count > 0)
    {
        <h3>Your Accounts:</h3>
        <ul>
            @foreach (var a in ViewBag.accounts)
            {
            <li>
                @a.Name - $@a.Balance
                @if (ViewBag.accounts.Count > 1)
                {
                <span>@Html.ActionLink("Tranfser", "Transfer", "Dashboard", new { accountId = @a.AccountId, userId = @ViewBag.UserId })</span>
                }
                </li>
            }
        </ul>
    }

    @if (ViewBag.transactions.Count > 0)
    {
        <h3>Your Transactions History:</h3>
        <ul>
            @foreach (var t in ViewBag.transactions)
            {
                if (t.isSelfTransfer == true)
                {
                    <li>
                        <p>You transfered <strong>$@t.Amount</strong> from <u>@t.FromAccount</u> account to <u>@t.ToAccount</u> account.</p>
                    </li>
                }
                else
                {
                    <li>
                        @*TBD*@
                    </li>
                }

            }
        </ul>}
    }
    else
    {
    <h3>Sorry, you don't have permission to see this page.</h3>
}
