@{
    ViewBag.Title = "Dashboard";
}
@model SimpleBank.Models.User

<div class="dashboard-layout">
    <h3 class="dashboard-user-greetings">Hello, <span class="user-name">@ViewBag.UserName</span>!</h3>
    <ul class="dashboard-action-list">
        <li class="dashboard-account-item">@Html.ActionLink("Open an account", "CreateAccount", "Dashboard")</li>
    </ul>

    @if (ViewBag.accounts.Count > 0)
    {
        <h4 class="dashboard-account-title">Your Accounts:</h4>
        <ul class="dashboard-account-list">
            @foreach (var a in ViewBag.accounts)
            {
            <li class="dashboard-account-item">
                <a href="@Url.Action("Details", "Account", new { accountId = @a.AccountId })">@a.Name</a> - $@a.Balance
                @if (ViewBag.accounts.Count > 1)
                {
                    <span>@Html.ActionLink("Transfer", "Transfer", "Dashboard", new { accountId = @a.AccountId })</span>
                }
                <span>@Html.ActionLink("Pay", "Pay", "Dashboard", new { accountId = @a.AccountId })</span>
                @if (a.isMain == true)
                {
                    <span>Zelle</span>
                }
                @if (a.Type == "Trading") 
                { 
                    <span>@Html.ActionLink("Stock Market", "StockDashboard", "Dashboard", new { accountId = @a.AccountId })</span>
                }
            </li>
            }
        </ul>
    }
</div>

